{{- $provider := (index .Site.Params "newsletter").provider }}
{{- if eq $provider "buttondown" }}
{{- $newsletterHandle := (index .Site.Params "newsletter").handle }}
<div class="header-subscribe {{ .class }}" {{ if .style }}style="{{ .style | safeCSS }}"{{ end }}>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/{{ $newsletterHandle }}"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/{{ $newsletterHandle }}', 'popupwindow')"
    class="embeddable-buttondown-form">
    <span class="subscribe-text">📧 Subscribe to new posts by email:</span>
    <input type="email" name="email" placeholder="you@example.com" required class="subscribe-input">
    <input type="hidden" value="1" name="embed"/>
    <button type="submit" class="subscribe-button">Subscribe</button>
  </form>
</div>
{{- end }}
