{{- $id := .Get "id" | default (.Get 0) -}}
{{- $title := .Get "title" | default "YouTube Video" -}}
<div class="youtube-facade" data-id="{{ $id }}">
  <img
    src="https://img.youtube.com/vi/{{ $id }}/hqdefault.jpg"
    alt="{{ $title }}"
    loading="lazy"
  >
  <button class="youtube-play" aria-label="Play video">
    <svg viewBox="0 0 68 48" width="68" height="48">
      <path class="youtube-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
  </button>
</div>
<style>
.youtube-facade {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #000;
  cursor: pointer;
  overflow: hidden;
}
.youtube-facade img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube-facade .youtube-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.2s;
}
.youtube-facade:hover .youtube-play {
  opacity: 0.8;
}
.youtube-facade iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
</style>
<script>
(function() {
  var facade = document.currentScript.previousElementSibling.previousElementSibling;
  facade.addEventListener('click', function() {
    var id = this.dataset.id;
    if (typeof umami !== 'undefined') {
      umami.track('youtube-play', { video_id: id });
    }
    var iframe = document.createElement('iframe');
    iframe.src = 'https://www.youtube-nocookie.com/embed/' + id + '?autoplay=1';
    iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture';
    iframe.allowFullscreen = true;
    while (this.firstChild) {
      this.removeChild(this.firstChild);
    }
    this.appendChild(iframe);
  }, { once: true });
})();
</script>
